
<br/>
<p class="text-center text-muted">© Copyright 2020 Web-Eco</p>

<!-- 
<style>
    /*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
	}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		overflow: hidden;
		padding: 5em 0em;
		border-top: 1px solid rgba(0,0,0,0.08);
	}
	
	#copyright p
	{
		text-align: center;
		font-size: 1em;
		color: rgba(255,255,255,0.3);
	}
	
	#copyright a
	{
		text-decoration: none;
		color: rgba(255,255,255,0.6);
	}


/*********************************************************************************/
/* Extra                                                                         */
/*********************************************************************************/

	#three-column
	{
		text-align: center;
		color: rgba(0,0,0,0.6);
	}

	#three-column .fa
	{
		display: block;
		padding: 1em 0em;
		color: rgba(0,0,0,1);
		font-size: 2em;
	}
	
	#three-column .title h2
	{
		font-weight: bold;
		color: rgba(0,0,0,0.8);
	}

	#three-column .title .byline
	{
		text-align: center;
		color: rgba(0,0,0,.5);
	}


    
</style>



<div id="welcome">
	<div class="container">
		<div class="title">
			<h2>Becoming part of our life thought community</h2>
			<span class="byline">All you need to do is create an author account, select the category for your post and create a post.</span>
		</div>
		<p>This is <strong>LifeLessons</strong>, a free, fully standards-compliant platform to share your real time and life changing lesseons. <a href="http://templated.co" rel="nofollow">TEMPLATED</a>. The photos in this template are from <a href="http://fotogrph.com/"> Fotogrph</a>. This free template is released under the <a href="http://templated.co/license">Creative Commons Attribution</a> So you're pretty much free to do whatever you want here (even use it commercially) provided you give us credit for it. Have fun :) </p>-->
		<!-- <ul class="actions">
			<li><a href="/blog/author/create" class="button">Become an Author</a></li>
		</ul>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; BlogApp. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Created by <a href="http://templated.co" rel="nofollow">SARAH</a>.</p>
</div> --> 



 







 
