<!--<#%- contentFor('left-sidebar') %>-->
<!--   <div class="col-sm-2">       -->
<!--           <div class="well">-->
               <!--<h3>LEFT <br/> SIDE BAR</h3>-->
               <!--<p>The left side content goes here - they don't change often</p>-->

<!--            </div>-->
<!--   </div>-->
   
<!--    <div id="body">-->
<!--        <div id="sidenav">-->
<!--            <br>-->
<!--            <br>-->
<!--            <ul id="list">-->
<!--             <li><a href="dashboard.html"><i class="fa fa-th-large" id="fa_2"></i>Dashboard</a></li>-->
             
<!--             <li><a href="createauthor.html"><i class="fa fa-user" id="fa_2"></i><span class="title">Create Author</span></a></li>-->
            
<!--             <li><a href="authorlist.html"><i class="fa fa-pencil-square-o" id="fa_2"></i><span class="title">List of Author</span></a></li>-->
           
<!--             <li><a href="createcategory.html"><i class="fa fa-align-center" id="fa_2"></i><span class="title">Create Category</span></a></li>-->
          
<!--             <li><a href="categorylist.html"><i class="fa fa-align-left" id="fa_2"></i><span class="title">Category List</span></a></li>-->
           
<!--             <li><a href="bookdetail.html"><i class="fa fa-align-justify" id="fa_2"></i><span class="title">Books Detail</span></a></li>-->
          
<!--             <li><a href="author&book.html"><i class="fa fa-user" id="fa_2"></i><span class="title">Author and Book Published</span></a></li>-->
           
             <!-- <li><a href="#"><i class="fa fa-sign-out" id="fa_2"></i><span class="title">Sign Out</span></a></li> -->

<!--            </ul>-->
<!--        </div>-->