<!--<div class="jumbotron">-->
<!--    <h1><#%= title %></h1>-->
<!--    <p>Total posts in database is <#%= postCount.count %></p>-->
<!--    <p>Total authors in database is <#%= authorCount.count %> </p>-->
<!--    <p>Total comments in database is <#%= commentCount.count %></p>-->
<!--    <p>Total categories in database is <#%= categoryCount.count %></p>-->
<!--</div>-->

<link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet" />
<link href="stones/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://fontawesome.com/v4.7.0/examples/">
<style>

h1, h2, h3
	{
		margin: 0;
		padding: 0;
	}
	p, ol, ul
	{
		margin-top: 0;
	}
	
	ol, ul
	{
		padding: 0;
		list-style: none;
	}
	
	p
	{
		line-height: 180%;
	}
	
	strong
	{
	}
	
	a
	{
		color: #ee0000;
	}
	
	a:hover
	{
		text-decoration: none;
	}
	
	/*.container*/
	/*{*/
	/*	overflow: hidden;*/
	/*	margin: 0em auto;*/
	/*}*/
	/*	width: 1000px;*/
	/*}*/

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

	.button
	{
		display: inline-block;
		padding: 1em 2em 1em 2em;
		letter-spacing: 0.10em;
		margin-top: 2em;
		padding: 1.40em 3em;
		border: 2px solid rgba(255,255,255,1);
		border-radius: 6px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1em;
		color: #FFF;
	}
	
	.button-alt
	{
		padding: 1em 2em;
		border-color: rgba(0,0,0,.8);
		color: rgba(0,0,0,.8);
	}
		
/*********************************************************************************/
/* 4-column                                                                      */
/*********************************************************************************/

	.box1,
	.box2,
	.box3,
	.box4
	{
		width: 235px;
	}
	
	.box1,
	.box2,
	.box3,
	{
		float: left;
		margin-right: 20px;
	}
	
	.box4
	{
		float: right;
	}
	
/*********************************************************************************/
/* 3-column                                                                      */
/*********************************************************************************/

	.boxA,
	.boxB,
	.boxC
	{
		width: 384px;
	}

	.boxA,
	.boxB
	{
		float: left;
		margin-right: 20px;
	}
	
	.boxC
	{
		float: right;
	}

/*********************************************************************************/
/* 2-column                                                                      */
/*********************************************************************************/

	.tbox1,
	.tbox2
	{
		width: 575px;
	}
	
	.tbox1
	{
		float: left;
	}

	.tbox2
	{
		float: right;
	}

	
/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

	.title
	{
		margin-bottom: 3em;
	}
	
	.title h2
	{
		font-size: 2.7em;
	}
	
	.title .byline
	{
		font-size: 1.3em;
		color: rgba(255,255,255,0.60);
	}
	
</style>
<body>
<section id="one" class="wrapper style1 special">
<div id="wrapper">
	<div id="three-column" class="container">
		<!--<div class="title">-->
		<!--	<h2>Fusce ultrices fringilla metus</h2>-->
		<!--	<span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>-->
		<!--</div>-->
<!--		<div class="boxA">-->
<!--			<span class="fa fa-user-o" aria-hidden="true"></span>-->
<!--			<p>Meet our amazing authors.</p>-->
<!--			<a href="#" class="button button-alt">Authors</a>-->
<!--		</div>-->
<!--		<div class="boxB">-->
<!--			<span class="fa fa-pencil fa-fw" aria-hidden="true"></span>-->
<!--			<p>Select from our categories collections.</p>-->
<!--			<a href="#" class="button button-alt">Categories</a>-->
<!--		</div>-->
<!--		<div class="boxC">-->
<!--			<span class="fa fa-cog fa-fw" aria-hidden="true"></span>-->
<!--			<p> Explore the post.</p>-->
<!--			<a href="#" class="button button-alt">Post</a>-->
<!--		</div>-->
<!--		</div>-->
<!--	</div>-->
<!--</div>-->
<!--	</section>-->
<!--</body>-->