<div class="bg_image">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <br><br><br><br>
                    <div id="text_image">
                    <h1 class="text-info mt-5 font-weight-bold">Group 10 Book Store</h1>
                    <h4 class="text-white pt-2 pb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores possimus voluptate quis totam laudantium consequuntur? Deserunt nihil nesciunt placeat recusandae quia obcaecati veritatis assumenda? Adipisci alias quibusdam optio totam illum.</h4>
                    </div>
                    <button class="btn btn-info px-4 py-2" id="btn_image">Read More</button>&nbsp;&nbsp;
                    <button class="btn btn-outline-info px-4 py-2" id="btn_image">Read More</button>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
    
    <div class="container"> 
        <!-- services -->
        <div class="row mt-5 pb-5 mb-5">
            <div class="col-md-6 mt-5">
                <div class="">
                    <img src="image/8.jpg" width="300" height="100" class="img-fluid d-block mx-auto" alt="">
                </div>
            </div>
            <div class="col-md-6 mt-5">
                <h2 class="text-info font-weight-bold">About BookStore</h2>
                <div id="line"></div>
                <h5 class="pt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum assumenda velit eos numquam possimus soluta quas ducimus sunt! Minima consequatur omnis fugiat consectetur maiores excepturi quasi illum, doloribus unde quod!Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum assumenda velit eos numquam possimus soluta quas ducimus sunt! Minima consequatur omnis fugiat consectetur maiores excepturi quasi illum, doloribus unde quod!</h5>
            </div>
        </div>        
    </div>
            <!-- Book Section  -->
    <div class="container-fluid book-section p-6"> 
         <br>
        <div class="row">
            <div class="col">
                <h3 class="font-weight-bold text-secondary float-left ml-5 font-italic">INSPIRATIONAL BOOKS</h3><a href="#" class="float-right text-secondary mr-5" id="seemore">see more <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
        <div class="row align-items-center mt-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book5.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                        <!-- <button class="btn btn-info mx-auto font-weight-bold" id="btn">BUY</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book1.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book4.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book6.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book1.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book4.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>            
        </div> 
        <br><br><hr><br><br>     
        <div class="row">
            <div class="col pt-2">
                <h3 class="font-weight-bold text-secondary float-left ml-5  font-italic">BEST SELLERS</h3><a href="#" class="float-right text-secondary mr-5" id="seemore">see more <i class="fa fa-chevron-circle-right"></i></a>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book5.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book1.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book4.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book6.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                        <!-- <button class="btn btn-info mx-auto font-weight-bold" id="btn">BUY</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book1.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                        <!-- <button class="btn btn-info mx-auto font-weight-bold" id="btn">BUY</button> -->
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6 col-xs-6">
                <div id="card" class="card text-center">
                    <div class="card-body">
                        <img src="image/book4.png" width="180" height="100" class="img-fluid" alt="">
                        <h5 class="font-weight-bold">Twisted Together</h5>
                        <em>Mike Johnson</em>
                        <h5 class="font-weight-bold"><i>$8.50</i></h5>
                        <!-- <button class="btn btn-info mx-auto font-weight-bold" id="btn">BUY</button> -->
                    </div>
                </div>
            </div>            
        </div> 
    </div>

    

    <div id="section">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-6">
                    <img src="image/book2.png" class="img-fluid d-block mx-auto" alt="">
                </div>
                <div class="col-md-6">
                    <h5 class="text-white font-weight-bold  p-5">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis totam fuga dolorem adipisci atque quasi in maiores. Eveniet numquam natus corrupti et accusantium doloremque, voluptate assumenda odit aspernatur omnis vel!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis totam fuga dolorem adipisci atque quasi in maiores. Eveniet numquam natus corrupti et accusantium doloremque, voluptate assumenda odit aspernatur omnis vel!Lorem ipsum dolor, sit amet consectetur adipisicing elit. Officiis totam fuga dolorem adipisci atque quasi in maiores. Eveniet numquam natus corrupti et accusantium doloremque, voluptate assumenda odit aspernatur omnis vel!</h5 mx-auto d-block>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <br><br><br>
        <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
                <div class="text-center">
                    <h3 class="text-dark font-weight-bold mb-2">JOIN THE TRIBE</h3>
                    <div class="line"></div>
                    <p class="mt-2">seeking a talented group of <br> stroytellers and adventure</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
                <div class="text-center">
                    <h3 class="text-dark font-weight-bold mb-2">STAY CONNECTED</h3>
                    <div class="line"></div>
                    <div class="mt-2">
                        <a href="#" id="fa"><i class="fa fa-twitter p-2"></i></a>
                        <a href="#" id="fa"><i class="fa fa-facebook p-2"></i></a>
                        <a href="#" id="fa"><i class="fa fa-instagram p-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 p-3">
                <div class="text-center">
                    <h3 class="text-dark font-weight-bold mb-2">PACKING IT OUT</h3>
                    <div class="line"></div>
                    <p class="mt-2">seeking a talented group of <br> stroytellers and adventure</p>
                </div>
            </div>
        </div>
        <br><br><br>
    </div>
    
     <!-- footer section  -->
    <div class="bg-dark">
        <div class="row border-bottom border-secondary">
            <div class="col-md-6 d-block mx-auto p-5">
                <h4 class="text-center mt-3 text-info strong">Subscribe to our Newsletter</h4>
                <div class="input-group m-3">
                    <input type="text" class="form-control" placeholder="E-mail Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-info" type="button">Subscribe</button>
                    </div>
                  </div>
            </div>
        </div>
        <div class="container">            
            <br><br>
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="text-info font-weight-bold">Book store</h4>
                    <p class="mt-2 text-white pr-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti dolore, in excepturi recusandae, maxime illo, consectetur est commodi aliquam eveniet sint fugit modi optio aut magnam dicta fugiat libero iste?</p>
                </div>
                <br>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">                     
                    <h4 class="text-info font-weight-bold">Contact Us</h4>
                    
                    <p class="mt-2 text-white"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+2347038689968</p>
                    <p class="mt-2 text-white"><i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;Bookstore@gmail.com</p>
                    <p class="mt-2 text-white"><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;+2347038689968</p>
                </div>
                <br>
                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">                 
                    
                    <h4 class="text-info font-weight-bold">Quick Link</h4>
                    <h5><a href="" class="text-white">About</a></h5>
                    <h5><a href="" class="text-white">Shop</a></h5>
                    <h5><a href="" class="text-white">Add Book</a></h5>
                </div>
                <br>
            </div>

            <div class="row border-top border-secondary mt-4">
                <p class="d-block mx-auto text-secondary font-italic pt-2">@GADG 2020</p>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 